/* Colors */
$black: #000000;
$white: #FFFFFF;
$light-grey: #747474;
$dark-orange: #A33327;
$orange: #C7493A;
$green: #0F9D58;

$main-color: $dark-orange;
$secondary-color: $orange;
$selection-color: $green;
$main-dark: $black;
$main-light: $white;
$main-gray: $light-grey;

/* Fonts */
$title-font: 'Montserrat';
$text-font: 'Roboto';

/* Others */
$shadow: 5px 5px 10px rgba(0, 0, 0, .2);