.e-d-title {
    margin-top: 1.5em;

    font-family: $title-font;
    font-size: 7em;
    font-weight: 700;
    color: $main-color;
    text-align: center;
}

.e-d-subtitle {
    margin-top: 0.3em;

    font-family: $title-font;
    font-size: 3em;
    font-weight: 600;
    color: $main-dark;
    text-align: center;
}